*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

body {
   overflow-y: scroll;
   font-family: 'Poppins', sans-serif;
   margin: 0;
   scroll-behavior: smooth;
   
}   

html {
   scroll-behavior: smooth;
}

section {
   margin: 0;
   display: flex;
   justify-content: space-between;
   background-color: #1385F0;
   height: 40px;
   align-items: center;
}

.logo-nombre {
   display: flex;
   align-items: center;
   color: #fff;
   padding-left: 10px;
   
}

.nombre{
   font-size: 70px;
   margin-bottom: 20px;
}

.navegacion { 
   padding: 0px;
   width: 100%;
   justify-content: space-evenly;
}

.navegacion ul {
   list-style: none;
   margin: 0;
   padding: 0;
   justify-content: end;
   align-items: center ;
}

.menu-horizontal {
   display: flex;
}

.menu-horizontal > li {
   display: inline-block;
   position: relative;
}

.menu-horizontal > li > a {
   display: block;
}

.navegacion ul {
   list-style: none;
}

.menu-vertical {
   background-color: #1385f0;
   text-align: center;
   position: absolute;
   margin-left: 70px;
   visibility: hidden;
   opacity: 0;
   transition: opacity 0.5s;
   width: 100%;
   margin-left: 0%;
   border-radius: 5px;
}

.menu-vertical li a {
   display: block;
   padding-top: 5px;
}

.menu-horizontal li:hover > .menu-vertical {
   visibility: visible;
   opacity: 1;
}

li {
   margin: 0 20px; 
}

.navegacion a, header a {
   text-decoration: none;
   color: #ffffff; 
   font-size: 16px;
   font-weight: bold;
   transition: color 0.3s ease-in-out;
}

.navegacion a:hover, header a:hover {
   color: #0F5B9E; 
}

.titulo {
   color: #1385F0;
   font-size: 100px;
   text-align: center;
}