body {
    overflow-y: scroll;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.container {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #1385F0;
    height: 40px;
    align-items: center;
    margin-bottom: 150px;
}

header {
    font-family:'Poppins', sans-serif;
    text-align: center;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo-nombre {
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 10px;
    
}

.nombre{
    font-size: 70px;
    margin-bottom: 20px;
}

nav { 
    justify-content: space-evenly;
    padding: 0px;
    background-color: #1385F0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

li {
    margin: 0 20px; 
}

a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0F5B9E; 
}

h1 {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 3em;
}

h3 {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.boton-container {
    display: flex;
    justify-content: center;
}

.boton {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: #1385F0;
    transition: background-color 0.3s, color 0.3s;
}

.boton:hover {
    background-color: #0F5B9E;
    color: #fff;
}

.buttons {
    display: flex;
    flex-direction: row;
    min-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #f1f1f1;
    border-radius: 50%;
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}

.saber_mas {
    margin-top: 120px;
    
}

.container2 h1 {
    text-align: center;
    color: #1385F0;
    font-size: 44px;
    margin-bottom: 30px;
}

.container2 h3 {
    margin-left: 150px;
    color: #0F5B9E;
    font-size: 28px;
    margin-top: 0%;
    margin-left: 40px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.texto p,  .texto3 p{
    margin-left: 0px;
    margin-right: 470px;
}

.texto h3,  .texto3 h3{
    margin-left: 0px;
    margin-right: 470px;
}

.descripcion, .descripcion2, .descripcion3, .descripcion4 {
    align-items: center;
    margin-left: 40px;
    display: flex;
    margin-top: 0px;
}

.descripcion img, .descripcion2 img, .descripcion3 img, .descripcion4 img  {
    height: 250px;
}

.texto2, .texto4 {
    text-align: right;
    margin-left: 420px;
}

.container2 a {
    margin-left: 500px;
    margin-top: 0%;
}

.descripcion4 img {
    margin-right: 43px;
}

.apoyar {
    margin-left: 210px;
}