body{
   margin: 5px;
}

h1 {
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   font-size: 3em;
   color: #000000;
   text-align: center;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
   position: static;
}

h2 {
   font-family: 'Poppins', sans-serif;
   text-align: center;
   color: rgb(221, 97, 25);
}

