<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca De Nosotros</title>
</head>

{% load static %}
<link rel="stylesheet" href="{% static 'css/acercade.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <section>
        <h2 class="logo-nombre">ZonaPets</h2>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/inicio-zonapets/">Inicio</a></li>
                <li><a href="http://127.0.0.1:8000/acercade/">Acerca de nosotros</a></li>
                <li><a href="http://127.0.0.1:8000/contacto/">Contacto</a></li>
                <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                <li><a href="https://www.youtube.com/" class="fa fa-youtube-play"></a></li>
    
            </ul>
        </nav>
    </section>
</body>
</html>