<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZonaPets - Encuentra lugares pet-friendly</title>
</head>

{% load static %}
<link rel="stylesheet" href="{% static 'imagenes/main.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap">



<body>
    <div class="container" style="background-image:url('{% static 'imagenes/wallpaper.avif' %}'); background-attachment: local; background-size: 100%;">
        <section>
                <h2 class="logo-nombre">ZonaPets</h2>
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:8000/inicio-zonapets/">Inicio</a></li>
                    <li><a href="http://127.0.0.1:8000/acercade/">Acerca de nosotros</a></li>
                    <li><a href="http://127.0.0.1:8000/contacto/">Contacto</a></li>
                    <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                    <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                    <li><a href="https://www.youtube.com/" class="fa fa-youtube-play"></a></li>
        
                </ul>
            </nav>
        </section>

        <header>

            <h1 class="nombre">¡Bienvenido a ZonaPets!</h1>

            <div class="boton-container">
                <a href="http://127.0.0.1:8000/vermapa/" class="boton">Ir al Mapa</a>
                <a href="http://127.0.0.1:8000/registrar/" class="boton">Registrar</a>
            </div>

            <h3 class="saber_mas">Sobre ZonaPets</h3>
            <a href="#info" class="fa fa-chevron-down"></a>
            
        </header>
        
    </div>
    <div class="container2" id="info">
        <h1 class="eslogan">
            Encuentra lugares para tus mejores amigos
        </h1>
        <div class="descripcion">
            <img src="{% static 'imagenes/descarga_1.png' %}" alt="perro">
            <div class="texto">
                <h3>
                    Nuestro Objetivo
                </h3>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut venenatis tellus in metus vulputate eu scelerisque felis. Neque egestas congue quisque egestas. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Aenean et tortor at risus viverra adipiscing at. 
                </p>
            </div>
        </div>
        <div class="descripcion">
            <img src="{% static 'imagenes/house.png' %}" alt="casa">
            <div class="texto">
                <h3>
                    Nuestro Objetivo
                </h3>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut venenatis tellus in metus vulputate eu scelerisque felis. Neque egestas congue quisque egestas. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Aenean et tortor at risus viverra adipiscing at. 
                </p>
            </div>
        </div>
    </div>
</body>

</html>

