<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar-ZonaPets</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap">
</head>
{% load static %}

<link rel="stylesheet" href="{% static 'imagenes/registrar1.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <section>
        <h2 class="logo-nombre">ZonaPets</h2>
    <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#acerca">Acerca de nosotros</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
            <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
            <li><a href="https://www.youtube.com/" class="fa fa-youtube-play"></a></li>

        </ul>
    </nav>
    </section>
    <header>
        <h1 class="titulo">!Hora de registrar tu Negocio!</h1>
        <h2 class="descripcion">Diligencia el siguiente formulario</h2>
    </header>
</body>
</html>