{% load static %}

<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navigation Bar with Indicator</title>

        <link rel="stylesheet" href="{% static 'css/Test/indicatorBar.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <link rel="icon" type="image/png" href="{% static 'imagenes/landinglogo.png' %}">           
        
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <nav class="nav">
            <ul class="nav-content">
                <li class="nav-list">
                    <a href="http://127.0.0.1:8000/mapa/" class="link-item active">
                        <ion-icon class="link-icon" name="map-outline"></ion-icon>
                        <span class="link-text">Mapa</span>
                    </a>
                </li>
                <!-- <li class="nav-list">
                    <a href="#" class="link-item">
                        <ion-icon class="link-icon" name="map-outline"></ion-icon>
                        <span class="link-text">Content</span>
                    </a>
                </li> -->
                <li class="nav-list">
                    <a href="#" class="link-item">
                        <ion-icon class="link-icon" name="add-outline"></ion-icon>
                        <span class="link-text">Registrar</span>
                    </a>
                </li>
                <li class="nav-list">
                    <a href="#" class="link-item">
                        <ion-icon class="link-icon" name="help-outline"></ion-icon>
                        <span class="link-text">FaQ</span>
                    </a>
                </li>
                <li class="nav-list">
                    <a href="#" class="link-item">
                        <ion-icon class="link-icon" name="person-outline"></ion-icon>
                        <span class="link-text">Mi Cuenta</span>
                    </a>
                </li>

                <span class="indicator"></span>
            </ul>
        </nav>
        

        <!-- JavaScript -->
        <script src="{% static 'javascript/Test/indicatorBar.js' %}"></script>
    </body>
</html>