{% extends "ZonaPets/newdesing.html" %}
{% load static %}
{% block content %}
{% load static %}
<!doctype html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>¡Inicia sesion! | ZonaPets</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="icon" type="image/png" href="{% static 'imagenes/landinglogo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Test/loginTest.css/' %}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N6MHZ5KW4K"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N6MHZ5KW4K');
</script>

<body>
    <div id="app">
        <div class="containerInicioRedirect">
            <img class="logoDiv" src="{% static 'imagenes/landinglogo.png' %}" alt="">
            <img class="templateImgMac" src="{% static 'imagenes/loginTemplateImg.png' %}" alt="">
            <div class="featuresZonaPets">
                <ion-icon class="iconLockFeature" name="lock-open-outline"></ion-icon>
                <h1>¡Desbloquea todas las características de <span>ZonaPets</span>!</h1>
                <div class="listItemsChars">
                    <ul>
                        <li>
                            Lorem Ipsum
                        </li>
                        <li>
                            Doro simend
                        </li>
                        <li>
                            Kasi foro aeis
                        </li>
                        <li>
                            Dumait
                        </li>
                    </ul>
                </div>
                <button class="redirectButtonLogin">
                    <a href="">
                        Inicia sesión o Registrate
                    </a>
                </button>

            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}