@import url('https://fonts.googleapis.com/css2?family=Onest:wght@900&display=swap');

body {
    background-color: #1D2833;
    font-family: "Poppins", "sans-serif";
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

section {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #1D2833;
    height: 60px;
    align-items: center;
    width: 100%;
}

.imgnavbar {
    width: 50px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo-nombre {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    color: rgba(19, 133, 240, 0.83);
    text-decoration: none;
}

.nombre {
    font-size: 70px;
}

.navegacion {
    padding: 0px;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: end;
    align-items: center;
}

.navegacion ul {
    list-style: none;
}

.navegacion li {
    margin: 0 20px;
}

.navegacion ul li a {
    color: #1385F0;
}

.navegacion a,
header a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navegacion a:hover,
header a:hover {
    color: #0F5B9E;
}

.menu-horizontal {
    display: flex;
    position: relative;
    align-items: center;
}

.menu-horizontal>li {
    display: inline-block;
    position: relative;
}

.menu-horizontal>li>a {
    display: block;
}

.containerform {
    width: 100vh;
    padding: 0px 70px 30px 70px;
    margin: 20px auto;
    box-sizing: border-box;
    background: #1C3146;
    border: 1px solid #808080;
    border-radius: 10px;
}


.containerform h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 90px;
    height: 70px;

    color: rgba(19, 133, 240, 0.83);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Poppins", "sans-serif";
}

input:focus {
    border: 2px solid rgba(19, 133, 240, 0.83);
    outline: none;
    box-shadow: 0 0 10px #444444;
}

.post-login {
    text-align: center;
    color: #1385F0;
    font-weight: bold;
    font-size: 38px;
}


.error-message {
    margin-bottom: 15px;
    font-size: 18px;
    color: #d42929d8;
    font-family: 'Onest', sans-serif;
}


input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.auth-button {
    padding: 12px 24px;
    background: #7FBFFF;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF; 
    border: none;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.auth-button:hover {
    background-color: rgba(19, 133, 240, 0.83);
}

.logout-button {
    background-color: #1385F0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Poppins";
    padding: 5px 8px;
    justify-content: center;
    align-items: center;
}

.logout-button:hover {
    background-color: #0056b3;
}

.register {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
}

.line-register {
    height: 1px;
    background-color: #808080;
    width: 100%;
}

.label-register {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    cursor: pointer;
}

label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    text-transform: capitalize;
    color: rgba(19, 133, 240, 0.83);
}

form {
    margin: 0 auto;
}

input {
    background: rgba(19, 133, 240, 0.1);
    border: 1px solid #808080;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.5);
    height: 50px;
}




button {
    padding: 12px 24px;
    background: #7FBFFF;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF; 
    border: none;
    width: 100%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: rgba(19, 133, 240, 0.83);
}

.google-login-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #1385F0;
    border-radius: 25px;
    cursor: pointer;
    width: 230px;
    font-weight: bold;
    background-color: transparent;
    transition: all 0.3s ease;
}

.google-login-button a {
    justify-self: normal;
}

.google-login-button:hover a {
    color: #fff;
}

.buttonslogin {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 27px;
}

.google-login-button a {
    text-decoration: none;
    color: #007bff;
    background-color: transparent;
    transition: all 0.3s ease;
}

.google-login-button .google-logo {
    width: 24px;
    /* Tamaño del logo de Google */
    margin-right: auto;
    /* Espacio entre el logo y el texto */
}

@media(max-width: 920px) {
    .containerform {
        width: 90%;
    }
}

/* @media(max-width: 452px) {
    .containerform h1 {
        font-size: 20px;
    } 

    .form-group {
        padding: 0px 20px 0px 20px;
    }

    .buttonslogin {
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .google-login-button {
        width: 70%;
        margin: auto;
        justify-content: center;
    }

    .google-login-button a {
        justify-self: center;
    }

    .loginbutton,
    .auth-button {
        width: 70%;
    }
} */

/* @media(max-width: 440px) { 
    .containerform h1 {
        font-size: 20px;
    } 

    /* .containerform h2 {
        font-size: 30px;
    }

    .logout-button {
        justify-content: center;
    }

    .containerform {
        width: 90%;
    }
}

@media(max-width: 392px) {
    .containerform h2 {
        font-size: 25px;
    }
} */

@media(max-width: 683px) {
    #titulo-register {
        font-size: 40px;
    }
}



@media(max-width: 549px) {
    .containerform h1 {
        font-size: 40px;
        text-align: center;
    }

    #titulo-register {
        font-size: 30px;
    }
}

@media(max-width: 442px) {

    .containerform {
        padding: 0px 40px 30px 40px;
    }

    .containerform h1 {
        font-size: 40px;
        text-align: center;
    }
}