@import url('https://fonts.googleapis.com/css2?family=Onest:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: none;
}

body {
    font-family: "Poppins";
}

nav {
    list-style-type: none;
    padding: 5px 20px;
    z-index: 100;
    position: relative;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

.start-hr {
    width: 50px;
    color: #80808052;
    rotate: 90deg;
}

.all {
    color: #80808052;
    position: relative;
    z-index: 10;
}

.links-page {
    margin-right: auto;
}

.links-page a {
    margin-right: 40px;
    color: #3b9af3;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 38px;
}

nav ul li a {
    text-decoration: none;
    list-style: none;
}

.imgnavbar {
    width: 58px;
    height: 58px;
}

.right {
    display: flex;
    align-items: center;
}

.social-media {
    display: flex;
}

.social-media a{
    margin-left: 32px;
    display: flex;
    align-items: center;
}

.premium-login {
    align-items: center;
    display: flex;
}

.user-login {
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 39px;
    color: #FFD564;
}

.fa {
    font-size: 23px;
    color: rgba(19, 133, 240, 0.83);
}

.button-nav {
    border: none;
    padding: 12px 24px;
    background: #FFD564;
    border-radius: 8px;
    font-family: "Poppins";
    font-weight: 700;
    color: #fff;
}

.menu-icon {
    display: none; 
    z-index: 10;
}

.mobile-links-page {
    display: none; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    margin-top: 30px;
}

.mobile-links-page a {
    color: #3b9af3;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 38px;
    text-decoration: none;
}

#icon1 {
    margin-right: 20px;
}
#icon2 {
    margin-left: 20px;
}

.menu-icon .close {
    display: none; 
}

.menu-icon.active .close {
    display: inline-block;
}

.menu-icon.active .menu {
    display: none;
}

.nav {
    border-radius: 12px;
    background: #7FBFFF;
    padding: 0 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    top: 82dvh;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: none;
    justify-content: center;
}


.nav-content{
    display: flex;
    height: 120px;
    align-items: center;
    list-style: none;
    position: relative;
}
.link-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    width: 95px;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateY(-10px);
}
.link-item.active{
    transform: translateY(-10px);
}
.link-icon{
    font-size: 38px;
    color: #fff;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active .link-icon{
    color: #fff;
}
.link-text{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    transform: translateY(32px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active .link-text{
    opacity: 1;
}
.indicator{
    position: absolute;
    top: -14px;
    left: 48px;
    height: 36px;
    width: 36px;
    background-color: #7FBFFF;
    border: 6px solid #fff;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.indicator::before,
.indicator::after{
    content: '';
    position: absolute;
    bottom: -8px;
    height: 24px;
    width: 19px;
}
.indicator::before{
    left: -22px;
    background-color: #7FBFFF;
    border-top-right-radius: 25px;
    box-shadow: 1px -13px #fff;
}
.indicator::after{
    right: -22px;
    background-color: #7FBFFF;
    border-top-left-radius: 25px;
    box-shadow: -1px -13px #fff;
}

@media only screen and (max-width: 803px) {
    .links-page {
        display: none; 
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile-links-page.active {
        display: flex;
        z-index: 11; 
    }

    .menu-icon {
        display: flex; 
        cursor: pointer;
    }

    .menu {
        font-size: 28px;
        color: #3b9af3;
    }

    .close {
        font-size: 28px;
        color: #3b9af3;
    }



    .right {
        display: none; 
    }

    .premium-login {
        display: none; 
    }

    .imgnavbar {
        margin-right: auto;
        z-index: 10;
    }

    .social-media a {
        margin-left: 0px;
        font-size: 20px;
    }

    .nav {
        top: 87dvh;
        display: flex;
    }

    .link-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 120px;
        width: 96px;
        text-decoration: none;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .link-icon {
        font-size: 30px;
    }
}

@media (width <= 500px) {
    .nav {
        height:93px;
        top: 90dvh;
    }

    .link-text {
        display: none;
    }
}