@import url('https://fonts.googleapis.com/css2?family=Onest:wght@900&display=swap');

#app {
    height: 100vh;
}

.containerform {
    width: 100%;
    padding: 0px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: auto;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.containerform h1 {
    color: #1385F0;
    text-align: center;
    font-size: 80px;
    text-wrap: balance;
}

.containerform p {
    margin-top: 10px;
    color: #0F5B9E;
    font-weight: bold;
}

.containerform button {
    font-family: 'Onest', sans-serif;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #1385F0;
    border-radius: 25px;
    cursor: pointer;
    width: 230px;
    font-weight: bold;
    background-color: transparent;
    transition: all 0.3s ease;
    color: #1385F0;
    font-size: 20px;
}

.containerform button:hover {
    background-color: #0F5B9E;
    color: #fff;
}

.post-login {
    margin-bottom: 300px;
}