@import url('https://fonts.googleapis.com/css2?family=Onest:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: none;
}

body {
    font-family: "Poppins";
}

nav {
    list-style-type: none;
    padding: 5px 20px;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

.start-hr {
    width: 50px;
    color: #80808052;
    rotate: 90deg;
}

.all {
    color: #80808052;
}

.links-page {
    margin-right: auto;
}

.links-page a {
    margin-right: 40px;
    color: #3b9af3;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 38px;
}

nav ul li a {
    text-decoration: none;
    list-style: none;
}

.imgnavbar {
    width: 58px;
    height: 58px;
}

.right {
    display: flex;
    align-items: center;
}

.social-media {
    display: flex;
}

.social-media a{
    margin-left: 32px;
    display: flex;
    align-items: center;
}

.premium-login {
    align-items: center;
    display: flex;
}

.user-login {
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 39px;
    color: #FFD564;
}

.fa {
    font-size: 23px;
    color: rgba(19, 133, 240, 0.83);
}

.button-nav {
    border: none;
    padding: 12px 24px;
    background: #FFD564;
    border-radius: 8px;
    font-family: "Poppins";
    font-weight: 700;
    color: #fff;
}