* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: none;
}
:root {
  --clr: #222327;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: white;
  margin: 0;
}

.container-all {
  width: 100%
}

.navigation {
  position: fixed;
  bottom: 0; /* Fija el navbar en la parte inferior de la pantalla */
  width: 100%;
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 1000;
}

.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
.navigation ul li.active a .icon {
  transform: translateY(-32px);
}
.navigation ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  top: -85%;
  width: 70px;
  height: 70px;
  background: #1385F0;
  border-radius: 50%;
  border: 6px solid white;
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 58%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 transparent;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 70%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 transparent;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}

section {
  display: flex;
  justify-content: center;
  background-color: #fff;
  height: 40px;
  align-items: center;
  margin-bottom: auto;
  width: 100%;
  top: 0px;

}

.imgnavbar {
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.logo-nombre {
  display: flex;
  align-items: center;
  color: #1385F0;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin-left: 20px;
}

.logo-nombre:hover {
  color: #0F5B9E;
}

.navegacion { 
  padding: 0px;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.navegacion ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: end;
  align-items: center ;
}

.navegacion ul {
  list-style: none;
}

.navegacion ul li a {
  color:#1385F0;
}

.navegacion li {
  margin: 0 20px; 
}

.navegacion a, header a {
  text-decoration: none;
  color: #ffffff; 
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navegacion a:hover, header a:hover {
  color: #0F5B9E; 
}

.menu-horizontal {
  display: flex;
  position: relative;
  align-items: center;
}

.menu-horizontal > li {
  display: inline-block;
  position: relative;
}

.menu-horizontal > li > a {
  display: block;
}

#icon-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 5px;
  font-size: 20px;
  color: #1385F0;
  cursor: pointer;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: none;
  transition: color 0.3s ease-in-out;
}

#icon-menu:hover {
  color: #0F5B9E;
}

@media(max-width: 844px) {

  body{
      overflow-x: hidden;
      position: relative;
  }

  section {
      background-color: #fff;
      margin-bottom: auto;
      justify-content: center;
      width: 100%;
      align-items: center;
      top: 0px;
      display: flex;
  }

  .logo-nombre {
      color: #1385F0;
  }

  .container-all {
      transition: all 300ms cubic-bezier(1,0,0,1);
  }

  .move-container-all{
      transform: translateX(1000px);
  }

  .menu-horizontal li a{
      margin-top: 0px;
  }

  .navegacion {
      width: 0px;
      height: 100vh;
      position: fixed;
      left: 0;
      background: #1385F0;
      box-shadow: 10px 0 20px -25px #000000;
      overflow: hidden;
      transform: translateX(-350px);
      transition: all 300ms cubic-bezier(1,0,0,1);
      text-align: left;
      top: 40px;
      color: #1385F0;
      background-color: #fff;
      display: inline-block;
      flex-direction: column;
  }

  .show-lateral {
      width: 100%;
      transform: translateX(0px);
  }

  .navegacion .menu-horizontal {
      flex-direction: column;
  }

  .menu-horizontal li a {
      margin-top: 0;
      margin-bottom: 10px; /* Ajusta este valor según tus necesidades */
  }

  .navegacion ul {
      display: flex;
      padding: 0px;
      flex-direction: column;
      margin-top: 10px;
  }

  .navegacion ul li{
      display: block;
      height: auto;
      margin-bottom: 10px;
  }

  .navegacion a {
    font-size: 18px;
  }

  .navegacion ul li a{
      display: block;
      color: #0F5B9E;
      text-align: center;
      margin-bottom: 15px;

  }

  .navegacion ul li a i {
      display: inline-block;
      margin-right: 10px;
  }

  #icon-menu {
      display: flex;
  }

  .contenedor-registro {
      margin-bottom: 100px;
  }

  
  .imgnavbar {
    justify-content: flex-start;
  }
}