{% load static %}
<!doctype html>
<html lang="es">

<head>
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Sobre Nosotros | ZonaPets</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    
    <link rel="icon" type="image/png" href="{% static 'imagenes/landinglogo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Secondary/aboutUs.css/' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-messaging.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-N6MHZ5KW4K"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N6MHZ5KW4K');
</script>

<body>
    <div class="container1">
        <nav>
            <ul>
                <li>
                    <div class="zonapets">
                      <img src="{% static 'imagenes/landinglogo.png' %}" alt="logozonapets" class="imgnavbar">
                      <h2>ZonaPets</h2>
                    </div>
                    <div class="links-page">
                        <a href="https://zonapets.vercel.app/mapa/">Ver Mapa</a>
                        <a href="https://zonapets.vercel.app/registrar/">Registrar</a>
                        <a href="https://zonapets.vercel.app/contacto/">Contacto</a>
                    </div>
                    <div class="right">
                        <div class="premium-login">
                            <a href="https://zonapets.vercel.app/afiliate/"><button class="button-nav">Premium</button></a>
                        </div>
                        <div class="premium-login">
                          <a href="https://zonapets.vercel.app/iniciarsesion/"><button class="button-nav2">Inicia sesion</button></a>
                      </div>
                    </div>
                    <div class="menu-icon">
                        <ion-icon name="menu-outline" class="menu"></ion-icon>
                        <ion-icon name="close-outline" class="close"></ion-icon>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="mobile-links-page">
            <a href="https://zonapets.vercel.app/mapa/">Inicio</a>
            <a href="https://zonapets.vercel.app/acercade/">Acerca de ZonaPets</a>
            <a href="https://zonapets.vercel.app/registrar/">Registrar</a>
            <a href="https://zonapets.vercel.app/afiliate/"><button class="button-nav">Premium</button></a>
            <div class="social-media">
                <a class="fa" href="https://www.facebook.com/zonappets?mibextid=ZbWKwL"
                target="_blank" id="icon1"><ion-icon name="logo-facebook" class="logo-red"></ion-icon></a>
                <a class="fa" href="https://www.instagram.com/zonapets0?igsh=MTUzdHBwanJ2NGJwdQ=="
                target="_blank"><ion-icon name="logo-instagram" class="logo-red"></ion-icon></a>
                <a class="fa" href="https://www.tiktok.com/@zonapets0?_t=8kor95lpkeb&_r=1"
                target="_blank" id="icon2"><ion-icon name="logo-tiktok" class="logo-red"></ion-icon></a>
            </div>
        </div>
        <script src="{% static 'javascript/Secondary/acerca.js' %}" defer></script>
    </div>
    <header>
        <div class="text-wall">
            <div class="txt1">
                <h1 id="title1">Sobre</h1>
            </div>
            <div class="txt2">
                <h1 id="title2">ZonaPets</h1>
            </div>
        </div>
        <img id="imgAcercaDe" src="{% static 'imagenes/acercade.png' %}" alt="">
    </header>
    <div class="div-wall"></div>

    <div class="container-all">
        <div class="info1">
            <img id="imgInfo1" class="images" src="{% static 'imagenes/info-dog2.png' %}" alt="">
            <img id="imgInfo2" class="images" src="{% static 'imagenes/info-dog.png' %}" alt="">
            <div class="text-info1">
                <h1 id="textoH1">
                    Creando momentos inolvidables con tu mascota.
                </h1>
                <p id="textoP">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>

        <div class="info2">
            <img src="{% static 'imagenes/iPhones.png' %}" alt="">
            <div class="text">
                <h2>¿Qué ofrecemos en ZonaPets?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender</p>
            </div>
        </div>
        <div class="general-info">
            <article class="cards-info">
                <h3>Lugares Registrados</h3>
                <h2>+1300</h2>
                <p>En toda Colombia</p>
            </article>
            <article class="cards-info">
                <h3>Fundación</h3>
                <h2>2024</h2>
                <p>Enero</p>
            </article>
            <article class="cards-info">
                <h3>Ubicación</h3>
                <h2>Bogotá</h2>
                <p>Colombia</p>
            </article>
            <article class="cards-info">
                <h3>Visitas Mensuales</h3>
                <h2>+1000</h2>
                <p>Visitas a la web</p>
            </article>
            <article class="cards-info">
                <h3>Calificaciones</h3>
                <h2>4.8</h2>
                <p>+400 Usuarios</p>
            </article>
            <article class="cards-info">
                <h3>Colaboradores</h3>
                <h2>4</h2>
                <p>En ZonaPets</p>
            </article>
        </div>
        <div class="container-mision">
            <img class="img" src="{% static 'imagenes/imgMision.png' %}" alt="Mision de ZonaPet">
            <div class="text-info">
                <h2>Nuestra misión</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender</p>
            </div>
        </div>
        <div class="container-objetivos">
            <div class="text-info">
                <h2 id="text2">Nuestros objetivos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender</p>
            </div>
            <img class="img" src="{% static 'imagenes/imgObjetivos.png' %}" alt="Objetivos de ZonaPets">
        </div>
        <div class="title-grid">
            ¡Sé parte de una aventura más!
        </div>
        <div class="img-grid">
            <div class="container-img">
                <img class="images-grid" src="{% static 'imagenes/image 3.png' %}" alt="Objetivos de ZonaPets">
                <img class="images-grid" src="{% static 'imagenes/image 4.png' %}" alt="Objetivos de ZonaPets">
                <img class="images-grid" src="{% static 'imagenes/image 5.png' %}" alt="Objetivos de ZonaPets">
                <img class="images-grid" src="{% static 'imagenes/image 6.png' %}" alt="Objetivos de ZonaPets">
            </div>
        </div>
    </div>

    <footer>
        <div class="zonapets-footer">
            <div class="top">
                <div class="img-divfooter1">
                    <img class="img-footer" src="{% static 'imagenes/landinglogo.png' %}" alt="">
                    <h1 class="logo-title">ZonaPets</h1>
                </div>
                <div class="logo-footer">
                    <div class="img-divfooter">
                        <img class="img-footer" src="{% static 'imagenes/landinglogo.png' %}" alt="">
                        <h1 class="logo-title">ZonaPets</h1>
                    </div>
                    <div class="social-media">
                        <a class="plus-icon3" href="https://www.instagram.com/zonapets0?igsh=MTUzdHBwanJ2NGJwdQ=="
                            target="_blank"><ion-icon class="plus-icon3" name="logo-instagram"></ion-icon></a>
                        <a class="plus-icon3" href="https://www.facebook.com/zonappets?mibextid=ZbWKwL"
                            target="_blank"><ion-icon class="plus-icon3" name="logo-facebook"></ion-icon></a>
                        <a class="plus-icon3" href="https://www.tiktok.com/@zonapets0?_t=8kor95lpkeb&_r=1"
                            target="_blank"><ion-icon class="plus-icon3" name="logo-tiktok"></ion-icon></a>
                        <a class="plus-icon3" href="mailto:zonapetscompany@gmail.com" target="_blank"><ion-icon
                                class="plus-icon3" name="mail-open-outline"></ion-icon></a>
                    </div>

                </div>
                <div class="description-footer">
                    <div class="footer-container">
                        <div class="footer-divs">
                            <h1 class="title-desc">
                                Nosotros
                            </h1>
                            <div class="width-url">
                                <a class="url-footer" href="https://zonapets.vercel.app/acercade/" target="_blank">Sobre ZonaPets</a>
                                <a class="url-footer" href="https://zonapets.vercel.app/terminos-y-condiciones/" target="_blank">Términos y condiciones</a>                            </div>
                        </div>
                        <div class="footer-divs">
                            <h1 class="title-desc">
                                Servicio
                            </h1>
                            <div class="width-url">
                                <a class="url-footer" href="https://zonapets.vercel.app/preguntas-frecuentes/" target="_blank">Preguntas frecuentes</a>
                                <a class="url-footer" href="https://zonapets.vercel.app/contacto/" target="_blank">Contacto</a>
                                <a class="url-footer" href="https://zonapets.vercel.app/equipo/" target="_blank">Equipo</a>
                            </div>
                        </div>
                        <div class="footer-divs">
                            <h1 class="title-desc">
                                Comunidad
                            </h1>
                            <div class="width-url">
                                <a class="url-footer" href="https://zonapets.vercel.app" target="_blank">Twitter</a>
                                <a class="url-footer" href="https://zonapets.vercel.app" target="_blank">Facebook</a>
                                <a class="url-footer" href="https://zonapets.vercel.app/contacto/" target="_blank">Reportar un bug</a>
                                <a class="url-footer" href="https://zonapets.vercel.app/registrar/" target="_blank">Pon tu lugar en ZonaPets</a>
                            </div>
                        </div>
                        <div class="footer-divs">
                            <h1 class="title-desc">
                                Links de interés
                            </h1>
                            <div class="width-url">
                                <a class="url-footer" href="https://zonapets.vercel.app/mapa/" target="_blank">Mapa de lugares</a>
                                <a class="url-footer" href="https://zonapets.vercel.app/registrar/" target="_blank">Registrar un lugar</a>
                                <a class="url-footer" href="https://zonapets.vercel.app/afiliate/" target="_blank">Trabaja con nosotros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="bottom">
                <p class="copyrigth">Copyright © 2023, ZonaPets.</p>
                <p class="copyrigth2">Contactános <span><a
                            href="mailto:zonapetscompany@gmail.com">zonapetscompany@gmail.com</a></span></p>
            </div>
        </div>
    </footer>

</body>