{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>TyC | ZonaPets</title>

  <link rel="icon" type="image/png" href="{% static 'imagenes/landinglogo.png' %}">
  <link rel="stylesheet" href="{% static 'css/Secondary/tyc.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap">

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="{% static 'javascript/Secondary/tyc.js' %}" defer></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-N6MHZ5KW4K"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
  
    gtag('config', 'G-N6MHZ5KW4K');
  </script>

</head>

<body>

    <div class="container1">
      <nav>
          <ul>
              <li>
                  <div class="zonapets">
                    <img src="{% static 'imagenes/landinglogo.png' %}" alt="logozonapets" class="imgnavbar">
                    <h2>ZonaPets</h2>
                  </div>
                  <div class="links-page">
                      <a href="https://zonapets.vercel.app/mapa/">Ver Mapa</a>
                      <a href="https://zonapets.vercel.app/registrar/">Registrar</a>
                      <a href="https://zonapets.vercel.app/contacto/">Contacto</a>
                  </div>
                  <div class="right">
                      <div class="premium-login">
                          <a href="https://zonapets.vercel.app/afiliate/"><button class="button-nav">Premium</button></a>
                      </div>
                      <div class="premium-login">
                        <a href="https://zonapets.vercel.app/iniciarsesion/"><button class="button-nav2">Inicia sesion</button></a>
                    </div>
                  </div>
                  <div class="menu-icon">
                      <ion-icon name="menu-outline" class="menu"></ion-icon>
                      <ion-icon name="close-outline" class="close"></ion-icon>
                  </div>
              </li>
          </ul>
      </nav>
      <div class="mobile-links-page">
          <a href="https://zonapets.vercel.app/mapa/">Inicio</a>
          <a href="https://zonapets.vercel.app/acercade/">Acerca de ZonaPets</a>
          <a href="https://zonapets.vercel.app/registrar/">Registrar</a>
          <a href="https://zonapets.vercel.app/afiliate/"><button class="button-nav">Premium</button></a>
          <div class="social-media">
              <a class="fa" href="https://www.facebook.com/zonappets?mibextid=ZbWKwL"
              target="_blank" id="icon1"><ion-icon name="logo-facebook" class="logo-red"></ion-icon></a>
              <a class="fa" href="https://www.instagram.com/zonapets0?igsh=MTUzdHBwanJ2NGJwdQ=="
              target="_blank"><ion-icon name="logo-instagram" class="logo-red"></ion-icon></a>
              <a class="fa" href="https://www.tiktok.com/@zonapets0?_t=8kor95lpkeb&_r=1"
              target="_blank" id="icon2"><ion-icon name="logo-tiktok" class="logo-red"></ion-icon></a>
          </div>
      </div>
      <hr class="all">
  </div>

  <div class="containerAll">

    <div class="containerTyc">
      <h1>Términos y Condiciones</h1>
      <div class="itemTerm">
        <h2>1. Definiciones</h2>
        <p>
          <ol>
            <li>
              "Zonapets": el sitio web (link unavailable) y sus servicios asociados.
            </li>
            <li>
              "Servicios": los servicios ofrecidos por Zonapets, incluyendo la búsqueda de lugares pet friendly en un mapa, recomendaciones de establecimientos pet friendly, y cualquier otro servicio que Zonapets ofrezca.
            </li>
            <li>  
              "Usuario": cualquier persona que utilice Zonapets.
            </li>
            <li>
              "Contenido": cualquier información, texto, imagen, video o otro material que se encuentre en Zonapets.
            </li>
          </ol>
        </p>
      </div>
      
      <div class="itemTerm">
        <h2>2. Aceptación de los términos</h2>
        <p>
          Al utilizar Zonapets, el usuario acepta estos términos y condiciones en su totalidad.
        </p>
      </div>
      
      <div class="itemTerm">
        <h2>3. Uso de Zonapets</h2>
        <p>
          El usuario se compromete a utilizar Zonapets de manera responsable y ética. El usuario no utilizará Zonapets para fines fraudulentos, ilegales o dañinos.
        </p>
      </div>
      
      <div class="itemTerm">
        <h2>4. Propiedad intelectual</h2>
        <p>
          El contenido de Zonapets es propiedad de Zonapets y está protegido por leyes de propiedad intelectual. El usuario no podrá utilizar, reproducir o distribuir el contenido sin autorización expresa de Zonapets.
        </p>
      </div>
      
      <div class="itemTerm">
        <h2>5. Exclusión de garantías</h2>
        <p>
          Zonapets y sus servicios se proporcionan "tal cual", sin garantías de ningún tipo.
        </p>
      </div>
      
      <div class="itemTerm">
        <h2>6. Limitación de responsabilidad</h2>
        <p>
          Zonapets no será responsable por daños o pérdidas derivadas del uso de Zonapets o sus servicios.
        </p>
      </div>
      
      <div class="itemTerm">
        <h2>7. Modificaciones</h2>
        <p>
          Zonapets se reserva el derecho de modificar estos términos y condiciones en cualquier momento.
        </p>
      </div>
      
      <div class="itemTerm">
        <h2>8. Ley aplicable</h2>
        <p>
          Estos términos y condiciones se regirán por las leyes de [jurisdicción].
        </p>
      </div>
      
      <div class="itemTerm">
        <h2>9. Contacto</h2>
        <p>
          Para cualquier pregunta o inquietud, por favor contacta con Zonapets a través de [correo electrónico o formulario de contacto].
        </p>
      </div>

    </div>
  </div>
</body>



</html>
