<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convenios - ZonaPets</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/convenios.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section>
        <h2 class="logo-nombre">ZonaPets</h2>
        <nav class="navegacion">
            <ul class="menu-horizontal">
                <li><a href="http://127.0.0.1:8000/inicio-zonapets/">Inicio</a></li>
                <li><a href="http://127.0.0.1:8000/acercade/">Acerca de ZonaPets</a>
                    <ul class="menu-vertical">
                        <li><a href="http://127.0.0.1:8000/equipo/">Equipo</a></li>
                        <li><a href="http://127.0.0.1:8000/preguntas-frecuentes/">FAQ</a></li>
                        <li><a href="http://127.0.0.1:8000/terminos-y-condiciones/">TyC</a></li>
                    </ul>
                </li>
                <li><a href="http://127.0.0.1:8000/contacto/">Contacto</a></li>
                <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                <li><a href="https://www.youtube.com/" class="fa fa-youtube-play"></a></li>
            </ul>
        </nav>
    </section>

</body>
</html>