{% extends "ZonaPets/barsiteapp.html" %}
{% load static %}
{% block content %}
{% load static %}
<!doctype html>
<html lang="es">

<head>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>¡Inicia sesion! | ZonaPets</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="icon" type="image/png" href="{% static 'imagenes/landinglogo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css/' %}">
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N6MHZ5KW4K"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N6MHZ5KW4K');
</script>

<body>
    <div id="app"></div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const app = document.getElementById('app');
            let currentUser = false;
            let registrationToggle = false;
            let userEmail = "";
            let username = "";

            function checkUserStatus() {
                axios.get("https://zonapets.vercel.app/api/get_user_info/", { withCredentials: true })
                    .then(function (response) {
                        currentUser = true;
                        renderApp(response.data);  // Pasar los datos del usuario a renderApp
                    })
                    .catch(function (error) {
                        currentUser = false;
                        renderApp();
                    });
            }

            function submitRegistration(e) {
                e.preventDefault();
                const email = document.getElementById('email').value;
                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;

                const data = {
                    email: email,
                    username: username,
                    password: password,
                };

                axios.post("https://zonapets.vercel.app/api/register/", data, {
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(function (response) {
                        return axios.post("https://zonapets.vercel.app/api/login/", { email, password }, { withCredentials: true });
                    })
                    .then(function (response) {
                        currentUser = true;
                        renderApp();
                    })
                    .catch(function (error) {
                        if (error.response && error.response.data && error.response.data.error_message) {
                            // Manejar el mensaje de error específico
                            const errorMessage = error.response.data.error_message;
                            alert(errorMessage);
                        } else {
                            // Handle other errors
                            console.error(error);
                        }
                    });
            }

            function submitLogin(e) {
                e.preventDefault();
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;

                axios.post("https://zonapets.vercel.app/api/login/", { email, password }, { withCredentials: true })
                    .then(function (response) {
                        currentUser = true;

                        window.location.href = "https://zonapets.vercel.app/";
                        renderApp();
                    });
            }

            function submitLogout(e) {
                e.preventDefault();
                axios.post("https://zonapets.vercel.app/api/logout/", {}, { withCredentials: true })
                    .then(function (response) {
                        currentUser = false;
                        window.location.href = "https://zonapets.vercel.app/mapa/"
                    });
            }

            function renderApp(userData) {
                // Renderizar el resto de la aplicación como lo haces actualmente
                // Asegúrate de tener un contenedor en tu HTML para cada pieza de información del usuario
                const app = document.getElementById('app');
                app.innerHTML = '';
                let infocontent = '';
                if (!currentUser) {
                    infocontent = `<div class="containerform" id="move-content" style="">
                        <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" style="heigth:70px; width:70px; border-radius:50px" >
                        <h1>¿Deseas iniciar sesión?</h1>
                        <p>¿Aún no tienes una cuenta? </p>
                        <button class="auth-button" onclick="window.location.href='https://zonapets.vercel.app/micuenta/'">Inicia Sesión</button>
                    </div>`
                }
                if (currentUser) {
                    // Renderizar la información del usuario
                    // Utiliza los datos del usuario recibidos del backend (userData)
                    infocontent = `
                    <div id="app">
                    <div class="title-info">
                    <div class="url-line">
                    <a href="https://zonapets.vercel.app/iniciarsesion/">Cuenta </a><span>> </span><a
                        href="">Informacion personal</a></div>
                    <div class="personal-info">
                        <h1 class="title">Información personal</h1>
                    <button class="button-logout" onclick="submitLogout(event)">Cerrar sesión</button></div>
                </div>
                <section class="user-info">
                    <div class="item">
                        <h6><span><ion-icon class="icon" name="happy-outline"></ion-icon> </span> Nombre</h6>
                        <p>${userData.nombre}</p>
                    </div>
                    <div class="item">
                        <a id="showModalBtn"> Editar</a>
                    </div>
                    <hr>
                    <div class="item">
                        <h6><span><ion-icon class="icon" name="at-circle-outline"></ion-icon></span> Correo</h6>
                        <p>${userData.email}</p>
                    </div>
                    <div class="item">
                        <a id="showModalBtn1"> Editar</a>
                    </div>
                    <hr>
                    <div class="item">
                        <h6><span><ion-icon class="icon" name="person-outline"></ion-icon></span> Username</h6>
                        <p>${userData.username}</p>
                    </div>
                    <div class="item">
                        <a id="showModalBtn2"> Editar</a>
                    </div>
                    <hr>
                    <div class="item">
                        <h6><span><ion-icon class="icon" name="phone-portrait-outline"></ion-icon></span> Telefono</h6>
                        <p>${userData.telefono}</p>
                    </div>
                    <div class="item">
                        <a id="showModalBtn3"> Editar</a>
                    </div>
                    <hr>
                    <div class="item">
                        <h6><span><ion-icon class="icon" name="flag-outline"></ion-icon></span> Ciudad de residencia</h6>
                        <p>${userData.ciudad}
                        </p>
                    </div>
                    <div class="item">
                        <a id="showModalBtn4"> Editar</a>
                    </div>
                </section>
                <div class="additional-div"></div>
                <dialog class="dialogstyle" id="editFormModal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Editar información</h2>
                        <form id="editForm">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" value="${userData.nombre}" placeholder="${userData.nombre}"
                                required>
                            <label for="email">Correo:</label>
                            <input type="email" id="email" name="email" value="${userData.email}" placeholder="${userData.email}"
                                required>
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" value="${userData.username}"
                                placeholder="${userData.username}" required>
                            <label for="telefono">Telefono:</label>
                            <input type="text" id="telefono" name="telefono" value="${userData.telefono}"
                                placeholder="${userData.telefono}">
                            <label for="ciudad">Ciudad de residencia:</label>
                            <input type="text" id="ciudad" name="ciudad" value="${userData.ciudad}"
                                placeholder="${userData.ciudad}">
                            <button class="submit-datos" type="submit">Guardar</button>
                        </form>
                    </div>
                </dialog>
                </div>`;
                }
                app.innerHTML += infocontent;


                document.getElementById('showModalBtn').addEventListener('click', function () {
                    const editFormModal = document.getElementById('editFormModal');
                    editFormModal.classList.remove('dialogstyle'); // Quita la clase de estilo para mostrar el modal
                    editFormModal.classList.add('mostrar');
                    editFormModal.showModal();
                });

                document.getElementById('showModalBtn1').addEventListener('click', function () {
                    const editFormModal = document.getElementById('editFormModal');
                    editFormModal.showModal();
                });

                document.getElementById('showModalBtn2').addEventListener('click', function () {
                    const editFormModal = document.getElementById('editFormModal');
                    editFormModal.classList.remove('dialogstyle'); // Quita la clase de estilo para mostrar el modal
                    editFormModal.classList.add('mostrar');
                    editFormModal.showModal();
                });

                document.getElementById('showModalBtn3').addEventListener('click', function () {
                    const editFormModal = document.getElementById('editFormModal');
                    editFormModal.classList.remove('dialogstyle'); // Quita la clase de estilo para mostrar el modal
                    editFormModal.classList.add('mostrar');
                    editFormModal.showModal();
                });

                document.getElementById('showModalBtn4').addEventListener('click', function () {
                    const editFormModal = document.getElementById('editFormModal');
                    editFormModal.classList.remove('dialogstyle'); // Quita la clase de estilo para mostrar el modal
                    editFormModal.classList.add('mostrar');
                    editFormModal.showModal();
                });

                document.querySelector('.close').addEventListener('click', function () {
                    const editFormModal = document.getElementById('editFormModal');
                    editFormModal.classList.remove('mostrar'); // Quita la clase para cerrar el modal
                    editFormModal.classList.add('dialogstyle'); // Agrega la clase de estilo para cerrar el modal
                    editFormModal.close();
                });

                window.onclick = function (event) {
                    const editFormModal = document.getElementById('editFormModal');
                    if (event.target == editFormModal) {
                        editFormModal.classList.remove('mostrar'); // Quita la clase para cerrar el modal
                        editFormModal.classList.add('dialogstyle'); // Agrega la clase de estilo para cerrar el modal
                        editFormModal.close();
                    }
                };

                document.getElementById('editForm').addEventListener('submit', function (event) {
                    event.preventDefault();
                    const formData = new FormData(this);
                    axios.post("https://zonapets.vercel.app/api/update_user_info/", formData, { withCredentials: true })
                        .then(function (response) {
                            location.reload();
                        })
                        .catch(function (error) {
                            console.error('Error al enviar el formulario de edición:', error);
                        });
                });
            }




            checkUserStatus();

            window.submitLogin = submitLogin;
            window.submitLogout = submitLogout;
            window.submitRegistration = submitRegistration;

        });


        axios.defaults.xsrfCookieName = "csrftoken";
        axios.defaults.xsrfHeaderName = "X-CSRFToken";
        axios.defaults.withCredentials = true;

    </script>
</body>

</html>
{% endblock %}