<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Cuenta | ZonaPets</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'javascript/cuenta.js' %}" defer></script>
  <link rel="icon" type="image/png" href="{% static 'imagenes/iconfav.png' %}">
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N6MHZ5KW4K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-N6MHZ5KW4K');
</script>

<link rel="stylesheet" href="{% static 'css/cuenta.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap">

<body>
  <section>
    <!--<a href="http://zonapets.onrender.com/inicio-zonapets/" class="logo-nombre">ZonaPets</a>
    <img src="{% static 'imagenes/Logo.png' %}" alt="img-waulandia" class="imgnavbar">-->

    <img src="{% static 'imagenes/Logo.png' %}" alt="img-waulandia" class="imgnavbar">
    <a href="http://zonapets.vercel.app/" class="logo-nombre">ZonaPets</a>

  </section>
  <div id="app">
  </div>

</body>

</html>