{% extends "ZonaPets/barsiteapp.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagos - ZonaPets</title>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N6MHZ5KW4K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-N6MHZ5KW4K');
</script>
{% load static %}
<link rel="stylesheet" href="{% static 'css/pagos.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap">

</html>
{% endblock %}