{% extends "ZonaPets/newdesing.html" %}
{% load static %}
{% block content %}
{% load static %}
<!doctype html>
<html lang="es">

<head>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>¡Inicia sesion! | ZonaPets</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="icon" type="image/png" href="{% static 'imagenes/landinglogo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Account/login.css/' %}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">


</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N6MHZ5KW4K"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N6MHZ5KW4K');
</script>

<body>
    <div id="app"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const app = document.getElementById('app');
            let currentUser = false;
            let registrationToggle = false;
            let userEmail = "";
            let username = "";

            function checkUserStatus() {
                axios.get("https://zonapets.vercel.app/api/get_user_info/", { withCredentials: true })
                    .then(function (response) {
                        currentUser = true;
                        renderApp(response.data); 
                    })
                    .catch(function (error) {
                        currentUser = false;
                        renderApp();
                    });
            }

            function submitRegistration(e) {
                e.preventDefault();
                const email = document.getElementById('email').value;
                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;

                const data = {
                    email: email,
                    username: username,
                    password: password,
                };

                axios.post("https://zonapets.vercel.app/api/register/", data, {
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(function (response) {
                        return axios.post("https://zonapets.vercel.app/api/login/", { email, password }, { withCredentials: true });
                    })
                    .then(function (response) {
                        currentUser = true;
                        renderApp();
                    })
                    .catch(function (error) {
                        if (error.response && error.response.data && error.response.data.error_message) {
                            const errorMessage = error.response.data.error_message;
                            alert(errorMessage);
                        } else {
                            console.error(error);
                        }
                    });
            }

            function submitLogin(e) {
                e.preventDefault();
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;

                axios.post("https://zonapets.vercel.app/api/login/", { email, password }, { withCredentials: true })
                    .then(function (response) {
                        currentUser = true;

                        window.location.href = "https://zonapets.vercel.app/";
                        renderApp();
                    });
            }

            function submitLogout(e) {
                e.preventDefault();
                axios.post("https://zonapets.vercel.app/api/logout/", {}, { withCredentials: true })
                    .then(function (response) {
                        currentUser = false;
                        window.location.href = "https://zonapets.vercel.app/mapa/"
                    });
            }

            function renderApp(userData) {
                const app = document.getElementById('app');
                app.innerHTML = '';
                let infocontent = '';
                if (!currentUser) {
                    infocontent = `<div class="containerInicioRedirect">
                        <img class="logoDiv" src="{% static 'imagenes/landinglogo.png' %}" alt="">
                        <img class="templateImgMac" src="{% static 'imagenes/loginTemplateImg.png' %}" alt="">
                        <div class="featuresZonaPets">
                            <ion-icon class="iconLockFeature" name="lock-open-outline"></ion-icon>
                            <h1>¡Desbloquea todas las características de <span>ZonaPets</span>!</h1>
                            <div class="listItemsChars">
                                <ul>
                                    <li>
                                        Lorem Ipsum
                                    </li>
                                    <li>
                                        Doro simend
                                    </li>
                                    <li>
                                        Kasi foro aeis
                                    </li>
                                    <li>
                                        Dumait
                                    </li>   
                                </ul>
                            </div>
                                <a href="https://zonapets.vercel.app/micuenta/">
                                    <button class="redirectButtonLogin">
                                        Inicia sesión o Registrate
                                    </button>
                                </a>

                        </div>
                    </div>`
                }
                if (currentUser) {
                    infocontent = `
                    <style>
                        #app {
                            display:block;
                        }    
                    </style>
        <div class="containerAll">
            <section class="infoDivUser">
                <a href="https://zonapets.vercel.app/mapa/" class="goBackMap"><ion-icon name="chevron-back-outline"></ion-icon></a>
                <div class="titleInformation">
                    <h1>Editar perfil</h1>
                </div>
                <form id="editForm">
                    <div class="textInput1">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="nombre" value="${userData.nombre}" placeholder="${userData.nombre}" required>
                    </div>
                    <div class="textInput2">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" id="email" name="email" value="${userData.email}" placeholder="${userData.email}" required>
                    </div>
                    <div class="containerFlex">
                        <div class="infoUsername">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" value="${userData.username}"
                            placeholder="${userData.username}" required>
                        </div>
                        <div class="phoneUser">
                            <label for="telefono">Teléfono</label>
                            <input type="text" id="telefono" name="telefono" value="${userData.telefono}"
                                placeholder="${userData.telefono}">
                        </div>
                    </div>
                    <div class="textInput5">
                        <label for="ciudad">Ciudad de residencia</label>
                        <input type="" id="ciudad" name="ciudad" value="${userData.ciudad}"
                        placeholder="${userData.ciudad}">
                    </div>
                    <div class="buttonsForm">
                        <a class="cancelButton" href="https://zonapets.vercel.app/mapa/">Cancelar</a>
                        <button class="submit-datos" type="submit">Guardar</button>
                    </div>
                </form>
            </section>
        </div>
        <footer>
            <div class="zonapets-footer">
                <div class="top">
                    <div class="img-divfooter1">
                        <img class="img-footer" src="{% static 'imagenes/landinglogo.png' %}" alt="">
                        <h1 class="logo-title">ZonaPets</h1>
                    </div>
                    <div class="logo-footer">
                        <div class="img-divfooter">
                            <img class="img-footer" src="{% static 'imagenes/landinglogo.png' %}" alt="">
                            <h1 class="logo-title">ZonaPets</h1>
                        </div>
                        <div class="socialMediaFooter">
                            <a class="plus-icon3" href="https://www.instagram.com/zonapets0?igsh=MTUzdHBwanJ2NGJwdQ=="
                                target="_blank"><ion-icon class="plus-icon3" name="logo-instagram"></ion-icon></a>
                            <a class="plus-icon3" href="https://www.facebook.com/zonappets?mibextid=ZbWKwL"
                                target="_blank"><ion-icon class="plus-icon3" name="logo-facebook"></ion-icon></a>
                            <a class="plus-icon3" href="https://www.tiktok.com/@zonapets0?_t=8kor95lpkeb&_r=1"
                                target="_blank"><ion-icon class="plus-icon3" name="logo-tiktok"></ion-icon></a>
                            <a class="plus-icon3" href="mailto:zonapetscompany@gmail.com" target="_blank"><ion-icon
                                    class="plus-icon3" name="mail-open-outline"></ion-icon></a>
                        </div>
    
                    </div>
                    <div class="description-footer">
                        <div class="footer-container">
                            <div class="footer-divs">
                                <h1 class="title-desc">
                                    Nosotros
                                </h1>
                                <div class="width-url">
                                    <a class="url-footer" href="https://zonapets.vercel.app/acercade/" target="_blank">Sobre ZonaPets</a>
                                    <a class="url-footer" href="https://zonapets.vercel.app/terminos-y-condiciones/" target="_blank">Términos y condiciones</a>                            </div>
                            </div>
                            <div class="footer-divs">
                                <h1 class="title-desc">
                                    Servicio
                                </h1>
                                <div class="width-url">
                                    <a class="url-footer" href="https://zonapets.vercel.app/preguntas-frecuentes/" target="_blank">Preguntas frecuentes</a>
                                    <a class="url-footer" href="https://zonapets.vercel.app/contacto/" target="_blank">Contacto</a>
                                </div>
                            </div>
                            <div class="footer-divs">
                                <h1 class="title-desc">
                                    Comunidad
                                </h1>
                                <div class="width-url">
                                    <a class="url-footer" href="https://www.instagram.com/zonapets0" target="_blank">Instagram</a>
                                    <a class="url-footer" href="https://www.facebook.com/zonappets" target="_blank">Facebook</a>
                                    <a class="url-footer" href="https://zonapets.vercel.app/contacto/" target="_blank">Reportar un bug</a>
                                    <a class="url-footer" href="https://zonapets.vercel.app/registrar/" target="_blank">Pon tu lugar en ZonaPets</a>
                                </div>
                            </div>
                            <div class="footer-divs">
                                <h1 class="title-desc">
                                    Links de interés
                                </h1>
                                <div class="width-url">
                                    <a class="url-footer" href="https://zonapets.vercel.app/mapa/" target="_blank">Mapa de lugares</a>
                                    <a class="url-footer" href="https://zonapets.vercel.app/registrar/" target="_blank">Registrar un lugar</a>
                                    <a class="url-footer" href="https://zonapets.vercel.app/afiliate/" target="_blank">Trabaja con nosotros</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class='hr-footer'>
                <div class="bottom">
                    <p class="copyrigth">Copyright © 2023, ZonaPets.</p>
                    <p class="copyrigth2">Contactános <span><a
                                href="mailto:zonapetscompany@gmail.com">zonapetscompany@gmail.com</a></span></p>
                </div>
            </div>
        </footer>`;
                }
                app.innerHTML += infocontent;

                document.getElementById('editForm').addEventListener('submit', function (event) {
                    event.preventDefault();
                    const formData = new FormData(this);
                    axios.post("https://zonapets.vercel.app/api/update_user_info/", formData, { withCredentials: true })
                        .then(function (response) {
                            location.reload();
                        })
                        .catch(function (error) {
                            console.error('Error al enviar el formulario de edición:', error);
                        });
                });
            }




            checkUserStatus();

            window.submitLogin = submitLogin;
            window.submitLogout = submitLogout;
            window.submitRegistration = submitRegistration;

        });


        axios.defaults.xsrfCookieName = "csrftoken";
        axios.defaults.xsrfHeaderName = "X-CSRFToken";
        axios.defaults.withCredentials = true;

    </script>
</body>

</html>
{% endblock %}