{% extends "ZonaPets/newdesing.html" %}
{% load static %}
{% block content %}
{% load static %}

<!doctype html>
<html lang="es">

<head>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Lugares PetFriendly | ZonaPets</title>
    
    <link rel="icon" type="image/png" href="{% static 'imagenes/landinglogo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Principal/mapa.css/' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-messaging.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N6MHZ5KW4K"></script>
</head>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N6MHZ5KW4K');
</script>

<script>
    var firebaseConfig = {
        apiKey: "{{ firebase_config.apiKey }}",
        authDomain: "{{ firebase_config.authDomain }}",
        projectId: "{{ firebase_config.projectId }}",
        storageBucket: "{{ firebase_config.storageBucket }}",
        messagingSenderId: "{{ firebase_config.messagingSenderId }}",
        appId: "{{ firebase_config.appId }}",
        measurementId: "{{ firebase_config.measurementId }}"
    };
    
    firebase.initializeApp(firebaseConfig);
    
    const messaging = firebase.messaging();

    messaging.requestPermission()
    .then(function () {
            console.log("Notification permission granted.");
            return messaging.getToken({ vapidKey: '{{ firebase_config.vapidKey }}' });
        })
        .then(function (currentToken) {
            if (currentToken) {
                console.log(currentToken);
            } else {
                console.log('No registration token available. Request permission to generate one.');
            }
        })
        .catch(function (err) {
            console.log("Unable to get permission to notify.", err);
        });

    messaging.onMessage((payload) => {
        console.log('Message received. ', payload);
    });
</script>

<body>
    <div id="overlay">
    </div>
        <div class="container-all" id="move-content">
            <div style="display: none">
                <input id="pac-input" class="controls" type="text" placeholder="¿A dónde deseas ir?, Centro Co... Cualquier... Rest..."/>
            </div>
    
            <div class="flex-desing">
                <div id="placesList" class="places-list">
                </div>
                <div id="showPlacesListButton">
                    <ion-icon class="iconName" id="iconName" name="locate-outline"></ion-icon>
                </div>
                <div class="up-map">
                    <div id="searchBar" class="search-bar">
                        <ion-icon id="icon-search" name="search-outline"></ion-icon>
                        <div class="text">
                            <h3>
                                ¿A dónde deseas ir?
                            </h3>
                            <p>
                                Centro Co... Cualquier... Rest...
                            </p>
                        </div>
                    </div>
                    <div class="filter-button" id="filterButton">
                        <img class="filter-logo" src="{% static 'imagenes/filterLogo.svg' %}" alt="">
                    </div>
                </div>
                <div id="map"></div>
                <div class="right-map">
                    
                    <div id="filterContainer" class="filter-container">
                        <div id="closeFilter" class="close-filter">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>
                        <div class="filter-div">
                            <h2 class="title-filter">Filtra por tipo</h2>
                            <label>
                                <input type="checkbox" class="tipo-checkbox" id="hotelFilter" value="Hoteles"> Hoteles
                            </label>
                            <label>
                                <input type="checkbox" class="tipo-checkbox" id="restaurantFilter" value="Restaurante"> Restaurantes
                            </label>
                            <label>
                                <input type="checkbox" class="tipo-checkbox" id="parkFilter" value="Parque Para Mascotas"> Parques Para Mascotas
                            </label>
                            <label>
                                <input type="checkbox" class="tipo-checkbox" id="mallFilter" value="Centro Comercial"> Centro Comercial
                            </label>
                            <label>
                                <input type="checkbox" class="tipo-checkbox" id="shopFilter" value="Tiendas de mascotas"> Tiendas De Mascotas
                            </label>
                            <label>
                                <input type="checkbox" class="tipo-checkbox" id="placeFilter" value="Sitios Turísticos"> Sitios Turísticos
                            </label>
                            <label>
                                <input type="checkbox" class="tipo-checkbox" id="serviceFilter" value="Servicios de paseo de perros"> Servicios De Paseo
                            </label>
                            <label>
                                <input type="checkbox" class="tipo-checkbox" id="otherFilter" value="Otro"> Otros
                            </label>
                        </div>       
                    </div>    
                    <div class="info-place">
                    </div>
                </div>
                <div id="infowindow-content">
                    
    
                <span id="place-name" class="title"></span><br />
                <strong></strong><span id="place-id"></span><br />
                <span id="place-address"></span>
                    
                </div>
            </div>
            <script src="{% static 'javascript/Principal/jsmapa.js' %}"></script>
    
            <script
                src="https://maps.googleapis.com/maps/api/js?key={{ firebase_config.apiKey }}&libraries=places&callback=initMap"
                defer>
            </script>
    
    
            {% for ubicacion in ubicaciones %}
    
            <div class="ubicacion" data-latitud="{{ ubicacion.latitud }}" data-longitud="{{ ubicacion.longitud }}"
                data-nombre="{{ ubicacion.nombre_compañia }}" data-tipo-negocio="{{ ubicacion.tipo_de_negocio }}" data-telefono = "{{ ubicacion.telefono_usuario }}">
            </div>
            
            {% endfor %}
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var container = document.querySelector('.container-all');
                var overlay = document.getElementById("overlay");
                var div = document.getElementById("searchBar");
                var pacInput = document.getElementById("pac-input")

                div.addEventListener("click", function() {
                    pacInput.style.display = "flex";
                    pacInput.focus();
                });
    
                container.addEventListener('click', function(event) {
                    if (event.target && event.target.id === 'show') {
                        var dialog = document.getElementById("dialog");
                        dialog.style.display = "block";
                        overlay.style.display = "block"
                        
                    }
    
                    if (event.target && event.target.id === 'hide') {
                        var dialog = document.getElementById("dialog");
                        dialog.style.display = "none";
                        overlay.style.display = "none";
                        
                    }
                });
            });
    
    
    
        </script>
    </body>


</html>


{% endblock %}