{% extends "ZonaPets/newdesing.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="icon" type="image/png" href="{% static 'imagenes/landinglogo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Principal/indexcontacto.css/' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-messaging.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-N6MHZ5KW4K"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N6MHZ5KW4K');
</script>
</html>
<body>
  <div class="container1">

    <h1 class="title">¡Contáctanos!</h1>

    <div class="cards">
      <article class="card" id="card1">
          <a class="fa1" href=""
          target="_blank"><ion-icon name="logo-whatsapp" class="logo-red"></ion-icon></a>
          <div class="social-mediablur">
            <h2 class="social-media">WhatsApp</h2>
          </div>
      </article>

      <article class="card" id="card2">
          <a class="fa1" href="https://www.facebook.com/zonappets?mibextid=ZbWKwL"
          target="_blank"><ion-icon name="logo-facebook" class="logo-red"></ion-icon></a>
          <div class="social-mediablur">
            <h2 class="social-media">Facebook</h2>
          </div>
      </article>

      <article class="card" id="card3">
          <a class="fa1" href="https://www.instagram.com/zonapets0?igsh=MTUzdHBwanJ2NGJwdQ=="
          target="_blank"><ion-icon name="logo-instagram" class="logo-red"></ion-icon></a>
          <div class="social-mediablur">
            <h2 class="social-media">Instagram</h2>
          </div>
      </article>

    </div>

  </div>
</body>


{% endblock %}
